<app-layout-feature>
    <div class="row pt-10">
        <div class="row">
            <h4>Check this out</h4>
        </div>
        <div class="col-lg-4  pt-5 pb-5 ps-5">
            <h5>
                Users
            </h5>
            <p style="width: 70%;">let's have a look with github users in purpose of finding and learning new skills.</p>
            <button routerLink="/users" class="btn btn-warning">Find new skill</button>
        </div>
        <div appAnimate whichclass="bg-skew" class="col-lg-4 pt-5 pb-5 ps-5">
            <div appAnimate whichclass="skew-content">
                <h5>
                    Repositories
                </h5>
                <p style="width: 70%;">explore more what other people are working on. Click below to take a look.</p>
                <button  routerLink="/repos" class="btn btn-warning">Take a look</button>
            </div>
        </div>
        <div class="col-lg-4 pt-5 pb-5 ps-5">
            <h5>
                Activities
            </h5>
            <p style="width: 70%;">let's checkout activities of other people. that really helps to boost your knowledge.</p>
            <button routerLink="/activity"  class="btn btn-warning">Check it out</button>
        </div>
    </div>
</app-layout-feature>