<app-layout-feature>
  <div class="container pt-5">
    <div class="row">
      <div class="row col-lg-6">
        <div class="col-sm-4">
          <img
            [src]="userData.avatar_url"
            [class]="['img-fluid' ,'img-card-user']"
            alt=""
          />
        </div>
        <div class="col-sm-4 mt-auto mb-auto">
          <h4 class="">{{ userData.login }}</h4>
          <p>{{ userData.location }}</p>
        </div>
      </div>
  
      <div class="row col-lg-6 mt-auto mb-auto ms-auto me-auto">
          <div class="col-sm-4">
              <h4 class="">{{ userData.followers }}</h4>
              <p>Followers</p>
            </div>
            <div class="col-sm-4">
              <h4 class="ms-auto">{{ userData.following }}</h4>
              <p>Followings</p>
            </div>
      </div>
    </div>
  
    <div class="pt-5 row">
      <app-nav-user-detail userId="{{userId}}"></app-nav-user-detail>
    </div>
  </div>
  
</app-layout-feature>