<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      style="color: rgb(16, 119, 128);"
      (click)="tabChange(1)"
      [ngClass]="tab == 1 ? 'active' : ''"
    >
      Repositories
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      style="color: rgb(16, 119, 128);"
      (click)="tabChange(2)"
      [ngClass]="tab == 2 ? 'active' : ''"
    >
      Organizations
    </button>
  </li>
 
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div [ngClass]="tab == 1 ? 'active' : ''" class="tab-pane">
    <app-repo-list userId="{{userId}}"></app-repo-list>
  </div>
  <div [ngClass]="tab == 2 ? 'active' : ''" class="tab-pane">
    <app-orgs userId="{{userId}}"></app-orgs>
  </div>
</div>
