<div class="bg-git-explore">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-4" [ngStyle]="{ display: 'flex', 'z-index': '-1' }">
        <img
          src="https://github.githubassets.com/images/modules/site/home/globe.jpg"
          class="bg-float-back rounded-top"
          alt=""
        />
      </div>
      <div class="col-lg-8 mt-auto mb-auto">
        <div class="row">
          <div class="col-lg-12">
            <h4>Search User</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-3">
              <input
                #searchInput
                type="text"
                class="form-control"
                name=""
                id=""
                placeholder=""
              />
            </div>
          </div>
          <div class="col-lg-4">
            <button (click)="searchUser(searchInput.value)" type="button" class="btn btn-warning">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
